.thead-th {
	border: 1px solid var(--main-tuqoise);
	padding: 8px;
	background-color: var(--main-tuqoise);
	color: #fff;
	font-weight: 600;
}

.tbody-td {
	border: 1px solid var(--main-tuqoise);
	padding: 8px;
}
