/* General styles */
html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: var(--secondary-tuqoise);
}

:root {
  --main-tuqoise: #30afa7;
  --secondary-tuqoise: #f4fcfa;
  --section-bg-color: #fff;
}


/* Header styles */
header {
  position: sticky;
  background-color: var(--main-tuqoise);
  height: 15%;
  padding: 15px 0;
}

/* Section styles */
section {
  background-color: var(--section-bg-color);
  border-radius: 8px;
  margin: 1em 0;
  min-width: 70%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Footer styles */
footer {
  background-color: var(--main-tuqoise);
  position: absolute;
  bottom: 0;
  text-align: center;
  // padding: 15px 0;
  width: 100%;
  height: 10%;
}


button:hover {
  cursor: pointer;
  opacity: 0.7;
}